.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-box {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 12px;
}

.gradient-custom {
  background-image: linear-gradient(104deg, #62DB54, #09ACF5);
}

.gradient-text-custom {
  background-image: linear-gradient(180deg, #62DB54, #09ACF5);
  background-clip: text;
  color: transparent;
}

nav {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, $primary 50%, $secondary 50%) 1;
}

.banner {
  padding: 47px 85px;
  border: 1px solid #fff;
}

.bg-banner {
  background-image: url("../images/bg_home.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 680px;
  width: auto;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}